/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #000000; 
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    
}

/* Center Headers */
h1, h2, h3, h4 {
    text-align: center;
}

.center-logo { 
    max-width: 150px;  
    height: auto;  
    display: block; 
    margin: 0 auto; 
}

.technology-overview {
    text-align: center;
    max-width: 60%;
    height: auto;
    display: block;
    margin: 15px, auto;
}

/* Footer Styles */ 
footer { 
    text-align: center; 
    padding: 20px; 
    background: #fff56c; 
    color: #000000;  
    border-top: 1px solid #dddddd; 
} 

footer p { 
    margin: 5px 0; 
} 

footer a { 
    color: #0056b3; 
    text-decoration: none; 
} 

    footer a:hover { 
    text-decoration: underline; 
}