/* General Navigation Styles */
nav {
    background-color: #fff56c;
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
}

nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffbb00;
    color: #fff;
    padding: 10px 20px;
    margin: 0 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #7575fe;
    font-weight: bold;
    text-decoration: none;
}

#panelpic1 {
    content: url("/thinderfinal/logo.png");
    float: left;
    width: 30px;
    height: 40px;
    display: block;
}
