/* General Navigation Styles */
nav {
    background-color: #ffbb00;
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff56c;
    color: #fff;
    padding: 10px 0px;

}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #7575fe;
    text-decoration: underline;
}

nav .here {
    border-bottom: 2px solid #007bff;
}

nav .here:hover {
    border-bottom: 2px solid #0056b3;
}
