/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #000000; 
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

/* Center Headers */
h1, h2, h3 {
    text-align: center;
}

/* Welcome Message */
.my-5 {
    margin-top: 50px;
}

/* Button Styles */
.btn {
    margin: 10px;
    font-size: 1em;
    padding: 10px 30px;
}
